
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Support Bot</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="profile">
            <div class="image-container">
            <img src="{{persona.avatar}}" alt="{{persona.name}}" class="profile-photo">
            </div>
            <div class="agent-selection">
                <select id="agentSelect" name="agent">
                    {% for key, item in personas.items() %}
                        <option value="{{item.name}}" data-image="{{item.avatar}}" {% if item.name == persona.name %} selected {% endif %}>{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="loadingMessage" class="loading-message">Thinking...</div>
        <div id="errorMessage" class="error-message"></div>
        <div class="controls">
            <button id="micButton" class="btn roundBtn" data-state="off">
                <img src="mic-off.svg" width="30px" alt="" id="micIcon">
            </button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
